name: Courier

on: push

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest    

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: todd-miller/code-courier-landing

      - uses: repo-sync/pull-request@v2 
        with:
          github_token: ${{ secrets.GITHUB_TOKEN}}
          destination_branch: "main"

