name: Courier

on: push

jobs:
  build:
    runs-on: ubuntu-latest    

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0
         
      # - name: Push to Remote
      #   run: |
      #     git config --global user.name "todd-miller"
      #     git config --global user.email "todd.miller@landiindustries.com"
      #     git remote add customer "https://${{ secrets.ACCESS_TOKEN}}@github.com/todd-miller/code-courier-landing.git"
      #     git remote -v
      #     git status -sb
      #     git show-ref
      #     git push customer HEAD
      #

      - name: Version Codebase
        id: version
        uses: paulhatch/semantic-version@v5.0.2
        with:
          tag_prefix: 'v'

      - name: Push to Remote
        uses: ad-m/github-push-action@master
        with: 
          force: true
          branch: Release-${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{steps.version.outputs.patch}}
          github_token: ${{ secrets.ACCESS_TOKEN }}
          repository: 'todd-miller/code-courier-landing'

      - name: Open PR 
        uses: repo-sync/pull-request@v2 
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          destination_branch: "main"
          destination_repository: "todd-miller/code-courier-landing"
          pr_title: "Release-${{ steps.version.outputs.major }}.${{ steps.version.outputs.minor }}.${{steps.version.outputs.patch}}"
          pr_body: |
            :crown: *An automated PR*
            
            # Things Accomplished:
            Automated PR Creation in Public Remote Repository
          pr_label: 'release'
          
     
      - name: output-url
        run: echo ${{steps.open-pr.outputs.pr_url}}
      - name: output-number
        run: echo ${{steps.open-pr.outputs.pr_number}}
      - name: output-created
        run: echo ${{steps.open-pr.outputs.pr_created}}
      - name: output-has-changed-files 
        run: echo ${{steps.open-pr.outputs.has_changed_files}}
