name: Courier

on: push

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest    

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}

      - name: Push to Remote
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          branch: ${{ github.ref }}
          repository: "todd-miller/code-courier-landing"

      - name: Open PR 
        uses: repo-sync/pull-request@v2 
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          destination_branch: "main"
          destination_repository: "todd-miller/code-courier-landing"
     
      - name: output-url
        run: echo ${{steps.open-pr.outputs.pr_url}}
      - name: output-number
        run: echo ${{steps.open-pr.outputs.pr_number}}
      - name: output-created
        run: echo ${{steps.open-pr.outputs.pr_created}}
      - name: output-has-changed-files
        run: echo ${{steps.open-pr.outputs.has_changed_files}}
