name: Courier

on: push

jobs:
  build:
    runs-on: ubuntu-latest    

    steps:
      - uses: actions/checkout@v3
          
      - uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          committer: 'todd-miller <todd.miller@landiindustries.com>'
          branch-suffix: timestamp
          branch: RGNTS-3
          base: main
          title: First Remote PR

      - name: Check outputs
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
