name: Courier

on: push

jobs:
  build:
    runs-on: ubuntu-latest    

    steps:
      - uses: actions/checkout@v3

          
      - name: Push To Client Repo
        uses: cpina/github-action-push-to-another-repository@main
        env: 
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }} 
        with:
          destination-github-username: 'todd-miller'
          destination-repository-name: 'code-courier-landing'
          user-email: todd.miller@landiindustries.com
          target-branch: foo 
          source-directory: .
          commit-message: 'woot woot! commit from beyond the repo!'
