name: Courier

on: push

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest    

    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          repository: "todd-miller/code-courier-landing" 

      - uses: repo-sync/pull-request@v2 
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          branch_name: "temp" 
          destination_branch: "main"
     
      - name: output-url
        run: echo ${{steps.open-pr.outputs.pr_url}}
      - name: output-number
        run: echo ${{steps.open-pr.outputs.pr_number}}
      - name: output-created
        run: echo ${{steps.open-pr.outputs.pr_created}}
      - name: output-has-changed-files
        run: echo ${{steps.open-pr.outputs.has_changed_files}}
